<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../../css/admin/language.css"></link>
    <script type="text/javascript" src="../../scripts/admin/category.js"></script>
    <title>Catégories</title>

</head>

<body onload="displayCategories()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">Index <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron">
        <h1 class="display-4">Catégorie</h1>
        <p class="lead">Page d'administration pour la gestion des catégories dans la base de données</p>
        <hr class="my-4">
        <h2 class="display-6">Ajouter une catégorie</h2>
        <div class="row">
            <input id="insertInput" type="text" class="form-control" placeholder="Nom de la catégorie">
            <button type="button" class="btn btn-success" onclick="insertCategoryBDD()">Insérer</button>
        </div>
        <hr class="my-4">
        <div>
            <h2>Liste des catégories</h2>
            <p><span id="nbCategory">0</span> Catégorie(s) enregistrée(s)</p>
            <table class="table">
              <tbody>
              </tbody>
            </table>
        </div>
      </div>

</body>

</html>