<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../../scripts/admin/languages.js"></script>
    <title>Langues</title>
</head>

<body onload="displayLanguages()">
    <nav>
        <a href="../index.html">Index</a>
    </nav>
    <h1>Langue</h1>
    <h2>Ajouter une langue</h2>
    
        <input type="text" name="" id="languageLabel" placeholder="Nom de la langue">
        <input type="button" value="Insérer" onclick="insertLanguage()">
    
    <div id="">
        <h2>Liste des langues</h2>
        <ul id="langList">

        </ul>
    </div>

</body>

</html>