<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mots</title>
</head>
<body>
        <nav>
                <a href="../index.html">Index</a>
        </nav>
        <h1>Mot</h1>
        <h2>Ajouter un mot</h2>
        <form>
            <input type="text" name="" id="wordLabel" placeholder="Libellé du mot">
            <input type="submit" value="Insérer">
        </form>
        <div id="">
            <h2>Liste des mots</h2>
            <ul id="wordList">
    
            </ul>
        </div>
</body>
</html>