<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/AutresPages/Catégorie.css"></link>
    <title>Document</title>
</head>
<body>
    <h1>Les différentes catégories</h1><br><br>
    <p><mark>Catégories très importante à connaître   </mark></p>
    <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Catégories</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td> <p><a href="cuisine.html">Cuisine</a></p></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>  <p><a href="DescriptionDunePersonne.html">Description d'une personne</a></p></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td> <p><a href="ExprimerLeTemps.html">Exprimer le temps</a></p></td>
              </tr>
              <tr>
                    <th scope="row">4</th>
                    <td> <p><a href="ConjonctionDeCoordination.html"><mark>Conjonctions de coordination</mark> </a></p></td>
                  </tr>
                  <tr>
                        <th scope="row">5</th>
                        <td> <p><a href="Finances.html">Les finances</a></p></td>
                      </tr>
                      <tr>
                            <th scope="row">6</th>
                            <td> <p><a href="FormulesDePolitesse.html"><mark>Les formules de politesse</mark></a></p></td>
                          </tr>
                          <tr>
                                <th scope="row">7</th>
                                <td> <p><a href="LeClimat.html">Le climat</a></p></td>
                              </tr>
                              <tr>
                                    <th scope="row">8</th>
                                    <td> <p><a href="LeCorpsHumain.html"><mark>Le corps humain</mark></a></p></td>
                                  </tr>
                                  <tr>
                                        <th scope="row">9</th>
                                        <td> <p><a href="LesAnimaux.html"><mark>Les animaux</mark></a></p></td>
                                      </tr>
                                      <tr>
                                            <th scope="row">8</th>
                                            <td> <p><a href="LesCouleurs.html"><mark>Les couleurs</mark></a></p></td>
                                          </tr>
            </tbody>
          </table>
  
  

</body>
</html>