<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Wordgenerator</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="admin/language.html">Langues</a></li>
            <li><a href="admin/word.html">Mot français</a></li>
            <li><a href="admin/wordTranslated.html">Tradutions</a></li>
        </ul>
    </nav>
</body>
</html>