<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/admin/language.css"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="../../scripts/admin/languages.js"></script>
    <title>Site d'anglais</title>
</head>
<body>
    <h1>C'est LE site internet de Mr.djago, Mr Codiixor et Mr Je suce pour 10 balles</h1>
    <nav>
        <ul>
            <li><a href="../AutresPages/Vocabulaire.html">Enrichir son vocabulaire</a></li><br>
            <li><a href="../AutresPages/Conjugaison.html">Apprendre à bien conjuguer les verbes</a></li><br>
            <li><a href="../AutresPages/Conseils.html">Conseil pour progresser vite en anglais</a></li>
        </ul>
    </nav>
</body>
</html>