body{
    background-color: #E9ECEF
}

.languageElement{
    display: block
}

li{
    display: inline;
}

#languageLabel{
    margin-left: 2em;
}

button{
    margin-left: 0.5em;
    
}

.table td, .table td input{
    text-align: center;   
 }

 .table td input{
     margin: auto
 }

 #insertInput{
     width: 20em;
 }