<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../../css/AutresPages/conseil.css"></link>
    <script type="text/javascript" src="../../scripts/admin/languages.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Quelques exemples pour progresser en anglais</h1>
    <ul>-Utiliser notre site régulièrement afin de s’enrichir</ul>
    <ul>-Regarder des séries en VOSTFR</ul>
    <ul>-Essayer de passer vos appareils en anglais (TV, portables…)</ul>
    <ul>-Si vous jouez à des jeux vidéo, forcez-vous à mettre le jeu en anglais</ul>
    <ul>-Lire des magazines, journaux … en anglais</ul>
    <ul>-Si vous réfléchissez, essayer de penser à comment vous diriez cette phrase en anglais</ul>
</body>
</html>